Repository Rastraponovich/brello: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn lint:js, stylelint --fix, yarn lint:css

chore: add eslint-config
  .eslintrc.cjs
  .lintstagedrc.json
Due: none

chore: added shared ui and based entities, svg sprites
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  public/icons/sprites.svg
  src/app/styles/App.css
  src/app/styles/index.css
  src/app/ui/index.tsx
  src/entities/stack/index.ts
  src/entities/stack/ui/index.tsx
  src/entities/task/index.ts
  src/entities/task/ui/index.tsx
  src/entities/workspaces/index.ts
  src/entities/workspaces/ui/index.tsx
  src/index.css
  src/main.tsx
  src/shared/ui/button/index.ts
  src/shared/ui/button/lib/index.ts
  src/shared/ui/button/lib/interfaces.ts
  src/shared/ui/button/ui/index.tsx
  src/shared/ui/icon/index.ts
  src/shared/ui/icon/ui/index.tsx
  src/shared/ui/input/index.ts
  src/shared/ui/input/ui/index.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write, yarn lint:js, stylelint --fix, yarn lint:css

bug: husky
  .lintstagedrc.json
Due: none

test
  .lintstagedrc.json
Due: none

test2
  .lintstagedrc.json
Due: none

test3
  package.json
Due: none

test-3
  .lintstagedrc.json
Due: none

chore: add base pages
  public/icons/logo.svg
  src/app/ui/index.tsx
  src/entities/workspaces/ui/index.tsx
  src/main.tsx
  src/pages/user/settings/index.ts
  src/pages/user/settings/ui/index.tsx
  src/pages/workspace/index.ts
  src/pages/workspace/onboarding/index.ts
  src/pages/workspace/onboarding/ui/index.tsx
  src/shared/ui/avatar/index.ts
  src/shared/ui/avatar/ui/index.tsx
  src/shared/ui/input/ui/index.tsx
  src/widgets/header/index.ts
  src/widgets/header/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

added effector and added auth base page
  package.json
  public/images/geometric-shapes-small.svg
  public/images/geometric-shapes.svg
  src/main.tsx
  src/pages/auth/index.ts
  src/pages/auth/ui/index.tsx
  src/widgets/header/ui/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write, yarn lint:js

404 page base added
  public/images/cell-pattern-bg.svg
  src/main.tsx
  src/pages/404/index.ts
  src/pages/404/ui/index.tsx
  src/pages/auth/ui/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn lint:js

added base effector model for auth and patronum
  package.json
  src/main.tsx
  src/pages/auth/index.ts
  src/pages/auth/model/index.ts
  src/pages/auth/model/selectors.ts
  src/pages/auth/ui/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write, yarn lint:js

added inter font
  .husky/pre-commit
  .lintstagedrc.json
  .stylelintrc.json
  index.html
  package.json
  src/app/styles/index.css
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn lint:js, stylelint --fix, yarn lint:css

feat: added logo-icon component & refactoring auth page and added social auth button with logo
  public/icons/social-icons.svg
  src/pages/auth/ui/index.tsx
  src/shared/ui/button/ui/index.tsx
  src/shared/ui/icon/ui/index.tsx
  src/shared/ui/icons/logo/index.ts
  src/shared/ui/icons/logo/lib/index.ts
  src/shared/ui/icons/logo/lib/models.ts
  src/shared/ui/icons/logo/ui/index.tsx
  src/widgets/header/ui/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn lint:js

added base button and base input
  src/features/sochial-auth-button/lib/helpers.ts
  src/features/sochial-auth-button/lib/index.ts
  src/features/sochial-auth-button/lib/models.ts
  src/features/sochial-auth-button/ui/index.tsx
  src/pages/auth/ui/index.tsx
  src/shared/ui/button/lib/helpers.ts
  src/shared/ui/button/lib/interfaces.ts
  src/shared/ui/button/ui/index.tsx
  src/shared/ui/input/lib/helpers.ts
  src/shared/ui/input/lib/index.ts
  src/shared/ui/input/lib/models.ts
  src/shared/ui/input/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

chore:base-components rework and authOnboardPage
  src/main.tsx
  src/pages/auth/ui/index.tsx
  src/shared/ui/button/ui/index.tsx
  src/shared/ui/icons/featured-icon/index.ts
  src/shared/ui/icons/featured-icon/ui/index.tsx
  src/shared/ui/input/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

fix input in authPage
  src/main.tsx
  src/pages/auth/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

added textArea and webInput and fixes onboardingPage
  public/images/geometric-square.svg
  src/main.tsx
  src/pages/auth/ui/index.tsx
  src/pages/workspace/onboarding/ui/index.tsx
  src/shared/ui/icons/featured-icon/ui/index.tsx
  src/shared/ui/input/index.ts
  src/shared/ui/input/lib/index.ts
  src/shared/ui/input/lib/models.ts
  src/shared/ui/input/ui/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn lint:js

hide scrollbars in css
  src/app/styles/index.css
  src/pages/workspace/onboarding/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js, stylelint --fix, yarn lint:css

added boards-page and some base component for page
  src/main.tsx
  src/pages/workspace/boards/index.ts
  src/pages/workspace/boards/ui/index.tsx
  src/shared/ui/button/lib/helpers.ts
  src/shared/ui/button/lib/interfaces.ts
  src/shared/ui/button/ui/index.tsx
  src/shared/ui/icons/featured-icon/ui/index.tsx
  src/shared/ui/icons/logo/ui/index.tsx
  src/shared/ui/input/lib/helpers.ts
  src/shared/ui/input/lib/models.ts
  src/shared/ui/input/ui/index.tsx
  src/shared/ui/nav-item/index.ts
  src/shared/ui/nav-item/lib/index.ts
  src/shared/ui/nav-item/lib/models.ts
  src/shared/ui/nav-item/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

small fixes base ui and added profile settings page components
  src/app/styles/index.css
  src/main.tsx
  src/pages/user/settings/ui/index.tsx
  src/shared/ui/button/lib/helpers.ts
  src/shared/ui/button/lib/interfaces.ts
  src/shared/ui/button/ui/index.tsx
  src/shared/ui/icons/featured-icon/lib/helpers.ts
  src/shared/ui/icons/featured-icon/lib/index.ts
  src/shared/ui/icons/featured-icon/lib/models.ts
  src/shared/ui/icons/featured-icon/ui/index.tsx
  src/shared/ui/input/ui/index.tsx
  src/shared/ui/upload/index.ts
  src/shared/ui/upload/lib/index.ts
  src/shared/ui/upload/lib/models.ts
  src/shared/ui/upload/ui/index.tsx
  src/widgets/header/ui/index.tsx
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write, yarn lint:js, stylelint --fix, yarn lint:css

added options
  src/shared/lib/index.ts
  src/shared/lib/models.ts
  src/shared/ui/icons/featured-icon/index.ts
  src/shared/ui/icons/featured-icon/lib/helpers.ts
  src/shared/ui/icons/featured-icon/lib/index.ts
  src/shared/ui/icons/featured-icon/lib/models.ts
  src/shared/ui/icons/featured-icon/ui/index.tsx
  src/shared/ui/upload/ui/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn lint:js

add workspace-settings page and fix md size base button
  src/main.tsx
  src/pages/workspace/settings/ui/index.tsx
  src/shared/ui/button/lib/helpers.ts
  src/shared/ui/input/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

added tasklist in board and added base avatar component
  src/entities/board/index.ts
  src/entities/board/lib/index.ts
  src/entities/board/lib/models.ts
  src/entities/board/ui/index.tsx
  src/pages/workspace/settings/ui/index.tsx
  src/shared/ui/avatar/index.ts
  src/shared/ui/avatar/lib/helpers.ts
  src/shared/ui/avatar/lib/index.ts
  src/shared/ui/avatar/lib/models.ts
  src/shared/ui/avatar/ui/index.tsx
  src/shared/ui/button/index.ts
Due: eslint --fix, prettier --write, yarn lint:js

added bage component and added edit block in board list
  src/app/styles/index.css
  src/entities/board/lib/models.ts
  src/entities/board/ui/index.tsx
  src/pages/workspace/settings/ui/index.tsx
  src/shared/ui/bage/index.ts
  src/shared/ui/bage/lib/helpers.ts
  src/shared/ui/bage/lib/index.ts
  src/shared/ui/bage/lib/models.ts
  src/shared/ui/bage/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js, stylelint --fix, yarn lint:css

fixes base button component and added icon button base component
  src/entities/board/ui/index.tsx
  src/shared/ui/button/lib/helpers.ts
  src/shared/ui/button/lib/interfaces.ts
  src/shared/ui/button/ui/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write, yarn lint:js

added base scroll-container and added render cardlists render
  src/app/styles/index.css
  src/entities/board/ui/index.tsx
  src/main.tsx
  src/pages/board/index.ts
  src/pages/board/ui/index.tsx
  src/pages/workspace/settings/index.ts
  src/pages/workspace/settings/ui/index.tsx
  src/shared/ui/scroll-container/index.ts
  src/shared/ui/scroll-container/lib/helpers.ts
  src/shared/ui/scroll-container/lib/index.ts
  src/shared/ui/scroll-container/lib/models.ts
  src/shared/ui/scroll-container/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js, stylelint --fix, yarn lint:css

added base close button and fixes scroll-bars and mobile render. Added some base icons
  src/entities/board/ui/index.tsx
  src/pages/board/ui/index.tsx
  src/shared/ui/button/lib/helpers.ts
  src/shared/ui/button/lib/interfaces.ts
  src/shared/ui/button/ui/index.tsx
  src/shared/ui/icons/common/index.ts
  src/shared/ui/icons/common/ui/index.tsx
  src/shared/ui/scroll-container/lib/helpers.ts
  src/shared/ui/scroll-container/lib/models.ts
  src/shared/ui/scroll-container/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

added base dropdown component and headlessui
  package.json
  src/entities/board/ui/index.tsx
  src/shared/ui/dropdown/index.ts
  src/shared/ui/dropdown/lib/helpers.ts
  src/shared/ui/dropdown/lib/index.ts
  src/shared/ui/dropdown/lib/models.ts
  src/shared/ui/dropdown/ui/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write, yarn lint:js

minor fixes
  src/app/styles/index.css
  src/entities/board/ui/index.tsx
  src/features/add-entity/index.ts
  src/features/add-entity/lib/helpers.ts
  src/features/add-entity/lib/index.ts
  src/features/add-entity/lib/models.ts
  src/features/add-entity/model/index.ts
  src/features/add-entity/ui/index.tsx
  src/pages/board/ui/index.tsx
  src/shared/hooks/index.ts
  src/shared/ui/dropdown/lib/helpers.tsx
  src/shared/ui/dropdown/lib/models.ts
  src/shared/ui/dropdown/ui/index.tsx
  src/shared/ui/icons/common/ui/index.tsx
  src/shared/ui/scroll-container/lib/helpers.ts
  src/shared/ui/scroll-container/ui/index.tsx
  src/widgets/layout/index.ts
  src/widgets/layout/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js, stylelint --fix, yarn lint:css

chore/added hygen and templates
  _templates/generate/entity/index.ejs.t
  _templates/generate/entity/lib-index.ejs.t
  _templates/generate/entity/lib-models.ejs.t
  _templates/generate/entity/model-index.ejs.t
  _templates/generate/entity/model-model.ejs.t
  _templates/generate/entity/model-selectors.ejs.t
  _templates/generate/entity/ui-index.ejs.t
  _templates/generate/feature/index.ejs.t
  _templates/generate/feature/lib-index.ejs.t
  _templates/generate/feature/lib-models.ejs.t
  _templates/generate/feature/model-index.ejs.t
  _templates/generate/feature/model-model.ejs.t
  _templates/generate/feature/ui-index.ejs.t
  _templates/generate/help/index.txt.t
  _templates/generator/help/index.ejs.t
  _templates/generator/new/hello.ejs.t
  _templates/generator/with-prompt/hello.ejs.t
  _templates/generator/with-prompt/prompt.ejs.t
  _templates/init/repo/new-repo.ejs.t
  app/hello.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn lint:js

remove uncessary items
  app/hello.js
Due: eslint --fix, prettier --write, yarn lint:js

Feat/hygen (#19)
  _templates/generate/entity/index.ejs.t
  _templates/generate/entity/lib-index.ejs.t
  _templates/generate/entity/lib-models.ejs.t
  _templates/generate/entity/model-index.ejs.t
  _templates/generate/entity/model-model.ejs.t
  _templates/generate/entity/model-selectors.ejs.t
  _templates/generate/entity/ui-index.ejs.t
  _templates/generate/feature/index.ejs.t
  _templates/generate/feature/lib-index.ejs.t
  _templates/generate/feature/lib-models.ejs.t
  _templates/generate/feature/model-index.ejs.t
  _templates/generate/feature/model-model.ejs.t
  _templates/generate/feature/ui-index.ejs.t
  _templates/generate/help/index.txt.t
  _templates/generator/help/index.ejs.t
  _templates/generator/new/hello.ejs.t
  _templates/generator/with-prompt/hello.ejs.t
  _templates/generator/with-prompt/prompt.ejs.t
  _templates/init/repo/new-repo.ejs.t
  package.json
  yarn.lock
Due: none

added add-lit feature for board page
  _templates/generate/entity/index.ejs.t
  _templates/generate/entity/lib-models.ejs.t
  _templates/generate/entity/model-model.ejs.t
  _templates/generate/entity/model-selectors.ejs.t
  _templates/generate/entity/ui-index.ejs.t
  _templates/generate/feature/index.ejs.t
  _templates/generate/feature/lib-models.ejs.t
  _templates/generate/feature/ui-index.ejs.t
  src/features/add-list/index.ts
  src/features/add-list/lib/index.ts
  src/features/add-list/lib/models.ts
  src/features/add-list/model/index.ts
  src/features/add-list/model/model.ts
  src/features/add-list/ui/index.tsx
  src/pages/board/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

added add-lit feature for board page (#21)
  _templates/generate/entity/index.ejs.t
  _templates/generate/entity/lib-models.ejs.t
  _templates/generate/entity/model-model.ejs.t
  _templates/generate/entity/model-selectors.ejs.t
  _templates/generate/entity/ui-index.ejs.t
  _templates/generate/feature/index.ejs.t
  _templates/generate/feature/lib-models.ejs.t
  _templates/generate/feature/ui-index.ejs.t
  src/features/add-list/index.ts
  src/features/add-list/lib/index.ts
  src/features/add-list/lib/models.ts
  src/features/add-list/model/index.ts
  src/features/add-list/model/model.ts
  src/features/add-list/ui/index.tsx
  src/pages/board/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

fixes button in page and move icons to common
  src/main.tsx
  src/pages/workspace/boards/ui/index.tsx
  src/shared/ui/avatar/ui/index.tsx
  src/shared/ui/button/lib/interfaces.ts
  src/shared/ui/icons/common/ui/index.tsx
  src/shared/ui/icons/featured-icon/ui/index.tsx
  src/widgets/header/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

fix refs bug in icon added effector base logic and added board card
  src/pages/workspace/boards/lib/helpers.ts
  src/pages/workspace/boards/lib/index.ts
  src/pages/workspace/boards/lib/models.ts
  src/pages/workspace/boards/model/index.ts
  src/pages/workspace/boards/model/model.ts
  src/pages/workspace/boards/model/selectors.ts
  src/pages/workspace/boards/ui/index.tsx
  src/shared/ui/icons/common/ui/index.tsx
  src/shared/ui/scroll-container/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

added base drawer component
  src/shared/ui/drawer/index.ts
  src/shared/ui/drawer/lib/index.ts
  src/shared/ui/drawer/lib/models.ts
  src/shared/ui/drawer/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

Feat/base modal (#22)
  src/main.tsx
  src/pages/workspace/boards/lib/helpers.ts
  src/pages/workspace/boards/lib/index.ts
  src/pages/workspace/boards/lib/models.ts
  src/pages/workspace/boards/model/index.ts
  src/pages/workspace/boards/model/model.ts
  src/pages/workspace/boards/model/selectors.ts
  src/pages/workspace/boards/ui/index.tsx
  src/shared/ui/avatar/ui/index.tsx
  src/shared/ui/button/lib/interfaces.ts
  src/shared/ui/drawer/index.ts
  src/shared/ui/drawer/lib/index.ts
  src/shared/ui/drawer/lib/models.ts
  src/shared/ui/drawer/ui/index.tsx
  src/shared/ui/icons/common/ui/index.tsx
  src/shared/ui/icons/featured-icon/ui/index.tsx
  src/shared/ui/scroll-container/ui/index.tsx
  src/widgets/header/ui/index.tsx
Due: eslint --fix, prettier --write, yarn lint:js

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: (any of: **/*.{js,ts,tsx}) or (any of: **/*.css)
  yarn lint:js: any of: **/*.{js,ts,tsx}
  stylelint --fix: any of: **/*.css
  yarn lint:css: any of: **/*.css
